/* font-family start */
$f_primary: Heebo;
$f_primary_light: Heebo Light;
$f_primary_medium: Heebo Medium;
/* font-family end */

/* colors start */
$c_white: #ffffff;
$c_white_1: #f2f2f2;
$c_white_2: #cccccc;
$c_white_3: #d8d8d8;
$c_black: #000000;
$c_grey_1: #4a4a4a;
$c_grey_2: #979797;
$c_grey_4: #9b9b9b;
$c_grey_5: #e8e8e8;
$c_red_1: #9f0008;
$c_red_2: #97040c;
$c_red_3: #990000;
$c_red_4: #6d0202;
$c_blue: #4a90e2;
$c_green: #4ece3d;
$c_green_1: #21d366;
$c_green_2: #21c25e;
/* colors end */
