@import "../../../assets/scss/variables.scss";

.noUi-target {
  height: 8px;
  border-radius: 10px;
  background-color: $c_white_3;
  border: none;
  box-shadow: none;
  padding: 0 16px 0 0;
}
.noUi-connect {
  height: 8px;
  background-color: $c_red_3;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  background-color: $c_white;
  transition: transform 0.15s;
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.09);
  }
}
