@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

// base w-1280 h-853
.main {
  background: $c_white_1;
  margin-left: 200px;
  min-width: 320px;
  transition: margin-left 0.25s, margin-right 0.25s;
  position: relative;
  & .main__inner {
    position: relative;
    min-height: 100vh;
    padding: 2.67vh 4.14vw 4.34vh 7.8vw;
    @include sm {
      padding: 8px;
    }
    & .main__sidebar-toggle {
      position: absolute;
      top: 11px;
      left: 8px;
    }
  }
  & .main__disable {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $c_black;
    opacity: 0.6;
    z-index: 2;
  }
}

.main_full {
  margin-left: 0px;
}
